body{
    display: flex;
}
.main{
    height:530px;
    width: 630px;
    border-style: groove;
    display: flex;
    }
.main2{
    height:530px;
    width: 630px;
    border-style: groove;
  
    }
.cart{
    height:320px;
    width:630px;
    border-style: dotted;

}
.price{
    height:200px;
    width: 630px;
    border-style: dotted;
}
.card{
    height:250px;
    width: 200px;
    border-width: 2px;
    border-color: black;
}
.card-img-top{
    height:120px;
}
.card-text{
    font-size:smaller;
}
