.main{
    height: 530px;
    width: 1250px;
    /* border-style: double; */
    align-content: center;    
}
.first{
    height: 350px;
    width: 860px;
    border-style: double;   
}
body{
    background-image: url(photo-1625225233840-695456021cde.avif);
}