.main{
    /* border-style: groove; */
    height: 545px;
    width: 1250px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    align-content: center;
}
.second{
    border-style: groove;
    height:300px;
    width: 350px;
    border-radius: 20px;
    border-color: blue;
    background-color: rgb(156, 156, 235);
    
}
.answer{
    height:100px;
    width:400px;
    border-style: groove;
    margin-top: 20px;
    border-radius: 20px;
    border-color: blue;
    background-color: rgb(156, 156, 235);;
}
input{
    border-radius: 10px;
    border-color: aliceblue;
    
}